[user]
name = Joe Lillibridge

[gpg]
format = ssh

[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
gpgsign = true

[alias]
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
st = status
tst = status
co = checkout
tco = checkout
ref = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'

[include]
path = .gitconfig.local
