*.sock
*.swp
.1password
.anyconnect
.awesomecache
.bash_history
.cache
.CFUserTextEncoding
.cisco
.colima
.config/gtk-2.0/
.config/zsh/plugins
.docker/
.DS_Store
.gitignore_global
.gk/repoMapping.json
.gnupg
.gnupg_*
.lesshst
.local/bin/
.local/share
.node_repl_history
.npm
.nvm
.rest-client
.sonarlint
.ssh
.tldrc
.Trash
.vault-token
.viminfo
.vscode
.wget-hsts
.yarn
.yarnrc
.zcompcache
.zcompdump
.zsh_history
.zsh_sessions
awesomecache
Desktop
Development
Documents
Downloads
Library
Movies
Music
node_modules
OneDrive\ \-\ Target\ Corporation
package.json
Pictures
Public
src
tmp
yarn.lock
